# LiveKit Configuration
LIVEKIT_URL=wss://my-project-6j0n1gst.livekit.cloud
LIVEKIT_API_KEY=APITT8EuiWYnTXm
LIVEKIT_API_SECRET=esI7m4wcAAIPXvKb5C0CWlmi2oC5ZVVwAgcGQAJlDHH

# Gemini API Configuration
GEMINI_API_KEY=AIzaSyBJB41zQZqwITbNnHwOiiEAHOfmoU0WauM

# Mem0 API Configuration
MEM0_API_KEY=m0-BIIaaD4yTCeKto4g3R9piQHwUvbWkvYAixCaCj2k